/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "_bootstrap";
@import "semantic-ui";
.container {
    margin: 0 auto;
    max-width: 80em;
    padding: 2em 0 0;
}

.chat-container {
    margin: 0 auto;
    max-width: 50em;
    display: fixed;
}

.header {
    background: rgba(0, 0, 0, .05);
    border-radius: 3px;
    margin: 0 0 1em;
    padding: .5em;
}

.chat {
    height: 20em;
    width: 100%;
}

.messages {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    height: 30em;
    margin: 0 0 .5em;
    overflow-y: scroll;
    padding: .5em;
}

.message {
    .bot {
        font-weight: bold;
        color: rgb(119, 23, 90);
        &.me {
            color: #b6191e;
        }
    }
}

.other-links {
    margin: .5em 0 0;
}

#results {
    // border: 1px solid rgba(0, 0, 0, .1);
    // border-radius: 3px;
    height: 25em;
    margin: 0 0 .5em;
    overflow-y: scroll;
    padding: .5em;
    // display: none;
}

df-messenger {
    height: 300px;
    max-height: 90%;
    min-height: 30%;
}

df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: rgb(119, 23, 90);
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
    --df-messenger-input-box-color: white;
    --df-messenger-input-placeholder-font-color: white;
}