<div class="ui light stackable inverted fluid four item large pointing menu">
    <div class="header pink item">
      <i class="circular pink heart alternate icon"></i>
        <i class="circular pink comment alternate icon"></i> <h1 style="margin:0px 60px 0px 15px">Warmline</h1>       
    </div>
    <%= link_to "Chat", root_path, class: @chatclass %>
    <%= link_to "Resources", resources_path, class: @resclass %>
</div>